html {
    background-color: #d95252;
}

a {
    font-weight: 100;
    letter-spacing: 2px;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px #8c3232;
}
ul {
    margin: 5px;
}

.nav {
    background: #ad4141;
    padding: 1px;
}
.nav li{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.nav a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    background-color: #d95252;
    border-radius: 3px;
    padding: 0px 20px;
    box-shadow: 1px 1px #8c3232;
}

.nav a:active {
    box-shadow: -1px -1px #8c3232;

}

.info h1 {
    border-radius: 10px;
    width: 400px;
    height: 400px;
    margin: 10px auto;
    font-family: 'Macha', sans-serif;
    font-weight: 100;   
    color: white;
}