/*#f7ede2, #f5cac3, #f6bd60, #f28482, #84a59d */
html {
    background-color: rgba(235, 214, 188, .3);
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'oswald', sans-serif;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 5px;
    word-spacing: 15px;
    text-align: center;
    color: #8c3232;
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

h2,
h3 {
    font-family: 'macha', sans-serif;
    font-weight: 200;
}

footer {
    font-family: 'oswald', sans serif;
    font-weight: 100;
    background-color: white;
    opacity: 50%;
    color: #84a59d;
    padding: 5px;
    width: 100%; 
    position: s;
    bottom: 0px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    margin-top: 20px;
}

.banner {
    margin-bottom: 150px;
    background-size: cover;
}

h2{
   
    text-decoration-thickness: 1.5px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.container {
    width: 50%;
    border: 1px solid #8c3232;
    background-color: rgba(235, 214, 188, .2);
    padding: 15px;
    margin: 50px 
    auto;
    border-radius: 5px;
    box-shadow: 5px 4px #8c3232;
}



.fontcolor1 {
    color: #8c3232;
}

.color-blocks {
    display: inline-flex;
    overflow: scroll;
}


#color-1 {
    border-radius: 3px;
    font-family: 'Macha', sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #d2d9c7;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto 15px;
}

#color-2 {
    border-radius: 3px;
    font-family: 'Macha', sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #ebd6bc;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto 15px;
}

#color-3 {
    border-radius: 3px;
    font-family: 'Macha', sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #f2ab6d;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto 15px;
}

#color-4 {
    border-radius: 3px;
    font-family: 'Macha', sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #8c3232;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto 15px;
}

#color-5 {
    border-radius: 3px;
    font-family: 'Macha', sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #d95252;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto 15px;
}